* {
	background-color: #FFF2D7;
	font-family: "Times New Roman";
	box-sizing: border-box;
	margin: 5px;
}
h1 {
    	text-align: center;
    	font-size: 10vw;
}
.header {
    	background-color: #F1D3B2;
    	border: 2px solid black;
    	padding: 3vw;
}
nav {
    	background-color: #333;
    	overflow: hidden;
}
nav ul {
    	list-style-type: none;
    	margin: 0;
    	padding: 0;
    	display: flex;
    	justify-content: center;
}
nav ul li a {
	float: left;
}
nav ul li a {
    	display: block;
    	color: black;
    	text-align: center;
    	padding: 14px 20px;
    	font-size: 100%;
    	text-decoration: none;
}
nav ul li a:hover {
    	background-color: #F1D3B2;
}
#about {
	padding-top: 30px;
}
.about-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.about-text {
	flex:1;
}
.logo {
	margin-left: 20px;
	max-width: 35%;
	height: auto;
}
.update-content {
	background-color: #F1D3B2;
	border: 2px solid black;
	padding: 2vw;
	margin-top: 2vw;
	border-radius: 10px;
}
ul {
	font-size: 1.5vw;
}